/* Global reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main background with image */
body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.5) 50%), url(2.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
}

/* Heading styling */
h1 {
    color: #fdf4f4;
    text-align: center;
    margin-top: 20px;
}

/* Image container styling */
.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px; /* Space between images */
    max-width: 1400px;
    margin: 0 auto;
    padding: 40px;
}

/* Image styling */
.image-container img {
    max-width: 400px;
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Shadow effect for images */
}

/* Button styling */
button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #f1430e; /* Orange color */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

button a {
    color: white;
    text-decoration: none;
}

button:hover {
    background-color: #d0370b; /* Darker shade for hover effect */
}
